<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogFileName" value="logs_erreurs.txt" />

		<add key="DbConnectionString" value="Data Source=TON_SERVEUR;Initial Catalog=TON_NOM_BDD;Integrated Security=True" />

		<add key="DossierExport" value="C:\Exports\Pesage\" />
	</appSettings>
</configuration>